$bg-color: #f7eac0;
$primary-color: #e09d8b;
$secondary-color: #f0bd89;
$dark-color: #73665c;
$highlight-color: #80bdb6;

$text-color: #333;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Aileron";
}

body {
  background-color: $bg-color;
  color: $text-color;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

#logo {
  img {
    width: 200px;
    height: auto;
  }
}

header {
  background: $primary-color;
  padding: 1rem 10%;

  display: flex;
  align-items: flex-end;
  gap: 2rem;

  // border-bottom: 2px dotted $text-color;

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button {
      font-size: 1.2rem;
      background: none;
      border: 0;
      font-weight: bold;
      cursor: pointer;
      color: $text-color;
    }
  }

  .access {
    margin: 0 0 0 auto;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 2rem 0;
  h1 {
    border-bottom: 2px solid $text-color;
  }
}

#coffee-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  article {
    max-width: 300px;
    padding: 0 2rem;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    div {
      .title {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      button {
        font-size: 1rem;
        background: none;
        padding: 0.25rem 0.5rem;
        border: 0;
        font-weight: bold;
        cursor: pointer;
        color: $text-color;
      }
    }
  }

  article:not(article:last-of-type) {
    border-right: 2px solid $text-color;
  }
}

.selected {
  border-bottom: 2px dotted $text-color;
}

a {
  color: $highlight-color;
  text-decoration: none;
}

#main-footer {
  margin: auto 0 0 0;
  font-weight: bold;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  #logo {
    img {
      width: 100%;
      height: auto;
    }
  }

  header {
    justify-content: center;

    align-items: center;
    flex-direction: column;
    nav {
      flex-direction: column;
    }

    .access {
      margin: 0;
    }
  }

  #coffee-wrapper {
    article {
      padding: 1rem;
      box-sizing: border-box;
    }
    article:not(article:last-of-type) {
      border: 0;
      border-bottom: 2px solid $text-color;
    }
  }
}
